<template>
  <div id="app">
    <div class="container">
      <h1>Библиотека</h1>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <router-link class="nav-item nav-link" active-class="active" to="/search">Поиск</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-item nav-link" active-class="active" to="/books">Книги</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-item nav-link" active-class="active" to="/authors">Авторы</router-link>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <router-view :allBooks="this.allBooks" :allAuthors="this.allAuthors"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import SearchWindow from './components/SearchWindow'
    import BookList from './components/BookList.vue'
    import AuthorList from './components/AuthorList.vue'

    export default {
        name: 'app',
        components: {
            SearchWindow,
            BookList,
            AuthorList
        },
        data() {
            return {
                activeTab: '',
                allAuthors: [
                    {id: 1, name: 'Dan Brown', book: 'The Da Vinci Code'},
                    {id: 2, name: 'Dan Brown', book: 'Angels & Demons'},
                    {id: 3, name: 'Dan Brown', book: 'Deception Point'},
                    {id: 4, name: 'Anthony Imbimbo', book: 'Steve Jobs: The Brilliant Mind Behind Apple'},
                    {id: 5, name: 'Ron Hitchens', book: 'Java NIO'}
                ],
                allBooks : [
                    {id: 1, name: 'The Da Vinci Code', author: 'Dan Brown'},
                    {id: 2, name: 'Angels & Demons', author: 'Dan Brown'},
                    {id: 3, name: 'Deception Point', author: 'Dan Brown'},
                    {id: 4, name: 'Steve Jobs: The Brilliant Mind Behind Apple', author: 'Anthony Imbimbo'},
                    {id: 5, name: 'Java NIO', author: 'Ron Hitchens'}
                ]
            }
        }
    }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
