<template>
  <div class="authorList">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <span class="navbar-brand">Авторы</span>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" @click="showNewItemWindow = true">Добавить</button>
        </form>
      </div>
    </nav>
    <hr>
    <div v-show="showNewItemWindow">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="button-addon2" v-model="name">
        <input type="text" class="form-control" placeholder="Название книги" aria-label="Название книги" aria-describedby="button-addon2" v-model="book">
        <div class="input-group-append">
          <button @click="authorAdd(name, book); showNewItemWindow = false" class="btn btn-outline-success" id="button-addon2">Добавить</button>
        </div>
      </div>
    </div>
    <div v-show="showEditItemWindow">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="button-addon2" v-model="nameField">
        <input type="text" class="form-control" placeholder="Название книги" aria-label="Название книги" aria-describedby="button-addon2" v-model="bookField">
        <div class="input-group-append">
          <button @click="authorEdit" class="btn btn-outline-secondary" id="button-addon2">Изменить</button>
          <button @click="closeDiag" class="btn btn-outline-secondary" id="button-addon2">Отмена</button>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-left align-middle">Имя</th>
        <th scope="col" class="text-left align-middle">Книга</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
      </tr>
      </thead>
      <tbody>
      <tr :key="author.id" v-for="author in authors">
        <th scope="row" class="text-left align-middle">{{author.name}}</th>
        <td class="text-left align-middle">{{author.book}}</td>
        <td>
          <button @click="setOldRow(author); showEditItemWindow = true" class="btn btn-outline-warning btn-sm">&#10000;</button>
        </td>
        <td>
          <button @click="authorDel(authors.indexOf(author))" class="btn btn-outline-danger btn-sm">&#10006;</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
    const uuidv4 = require('uuid/v4');

    export default {
        name: "AuthorList",
        props: {
            allAuthors: Array
        },
        data() {
            return {
                authors: this.$props.allAuthors,
                name: '',
                nameField: '',
                book: '',
                bookField: '',
                oldData: {id: '', name: '', book: ''},
                showNewItemWindow: false,
                showEditItemWindow: false
            }
        },
        methods: {
            authorAdd(name, book) {
                if (name && book){
                    this.authors.push({id: uuidv4(), name:name, book:book})
                    this.name = ''
                    this.book = ''
                }
            },
            authorEdit() {
                for (let i = 0, len = this.authors.length; i < len; i++) {
                    if (this.authors[i].id === this.oldData.id) {
                        if (this.oldData.name !== this.nameField) {
                            this.authors[i].name = this.nameField
                        }
                        if (this.oldData.book !== this.bookField) {
                            this.authors[i].book = this.bookField
                        }
                    }
                }
                this.showEditItemWindow = false
            },
            authorDel(index) {
                this.authors.splice(index, 1);
            },
            closeDiag() {
                this.showEditItemWindow = false
                this.nameField = ''
                this.bookField = ''
            },
            setOldRow(author) {
                this.oldData = author
                this.nameField = author.name
                this.bookField = author.book
            }
        }
    }
</script>

<style scoped>

</style>