<template>
  <div class="bookList">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <span class="navbar-brand">Книги</span>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" @click="showNewItemWindow = true">Добавить</button>
        </form>
      </div>
    </nav>
    <hr>
    <div v-show="showNewItemWindow">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Наименование" aria-label="Наименование" aria-describedby="button-addon2" v-model="name">
        <input type="text" class="form-control" placeholder="Автор" aria-label="Автор" aria-describedby="button-addon2" v-model="author">
        <div class="input-group-append">
          <button @click="bookAdd(name, author); showNewItemWindow = false" class="btn btn-outline-success" id="button-addon2">Добавить</button>
        </div>
      </div>
    </div>
      <div v-show="showEditItemWindow">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Наименование" aria-label="Наименование" aria-describedby="button-addon2" v-model="nameField">
          <input type="text" class="form-control" placeholder="Автор" aria-label="Автор" aria-describedby="button-addon2" v-model="authorField">
          <div class="input-group-append">
            <button @click="bookEdit" class="btn btn-outline-secondary" id="button-addon2">Изменить</button>
            <button @click="closeDiag" class="btn btn-outline-secondary" id="button-addon2">Отмена</button>
          </div>
        </div>
      </div>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-left align-middle">Наименование</th>
        <th scope="col" class="text-left align-middle">Автор</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
      </tr>
      </thead>
      <tbody>
        <tr :key="book.id" v-for="book in books">
          <th scope="row" class="text-left align-middle">{{book.name}}</th>
          <td class="text-left align-middle">{{book.author}}</td>
          <td>
            <button @click="setOldRow(book); showEditItemWindow = true" class="btn btn-outline-warning btn-sm">&#10000;</button>
          </td>
          <td>
            <button @click="bookDel(books.indexOf(book))" class="btn btn-outline-danger btn-sm">&#10006;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
    const uuidv4 = require('uuid/v4');

    export default {
        name: "BookList",
        props: {
            allBooks: Array
        },
        data() {
            return {
                books: this.$props.allBooks,
                name: '',
                nameField: '',
                author: '',
                authorField: '',
                showNewItemWindow: false,
                showEditItemWindow: false
            }
        },
        methods: {
            bookAdd(name, author) {
                if (name && author) {
                    this.books.push({id: uuidv4(), name: name, author: author})
                    this.name = ''
                    this.author = ''
                }
            },
            bookEdit() {
                for (let i = 0, len = this.books.length; i < len; i++) {
                    if (this.books[i].id === this.oldData.id) {
                        if (this.oldData.name !== this.nameField) {
                            this.books[i].name = this.nameField
                        }
                        if (this.oldData.author !== this.authorField) {
                            this.books[i].author = this.authorField
                        }
                    }
                }
                this.showEditItemWindow = false
            },
            bookDel(index) {
                this.books.splice(index, 1);
            },
            closeDiag() {
                this.showEditItemWindow = false
                this.nameField = ''
                this.authorField = ''
            },
            setOldRow(book) {
                this.oldData = book
                this.nameField = book.name
                this.authorField = book.author
            }
        }
    }
</script>

<style scoped>

</style>