<template>
  <div class="searchWindow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <span class="navbar-brand">Поиск</span>
        </div>
      </div>
    </nav>
    <hr>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Введите наименование книги или автора" aria-label="Введите наименование книги или автора" aria-describedby="button-addon2" :keyup="search(searchRec)" v-model="searchRec">
      <div class="input-group-append">
        <button @click="search(searchRec)" class="btn btn-outline-primary" id="button-addon2">Поиск</button>
      </div>
    </div>
    <hr>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-left align-middle">Автор</th>
        <th scope="col" class="text-left align-middle">Книга</th>
      </tr>
      </thead>
      <tbody>
      <tr :key="item.id" v-for="item in items">
        <th scope="row" class="text-left align-middle">{{item.author}}</th>
        <td class="text-left align-middle">{{item.book}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
    const uuidv4 = require('uuid/v4');
    const _ = require('underscore');

    export default {
        name: "SearchWindow",
        props: {
            allAuthors: Array,
            allBooks: Array
        },
        data() {
            return {
                searchRec: '',
                items: [],
                allItems: []
            }
        },
        methods: {
            // для поиска можно использовать ругелярку
            search(rec) {
                this.items = []
                if (rec) {
                    this.allItems.filter((item) => {
                        let a = item.author.toLowerCase()
                        let b = item.book.toLowerCase()
                        let r = rec.toLowerCase()

                        if (a.indexOf(r) > -1 || b.indexOf(r) > -1) {
                            this.items.push({id: uuidv4(), author: item.author, book: item.book})
                        }
                        this.items = _.uniq(this.items, 'book')
                    })
                }
            }
        },
        beforeMount() {
            for (let i = 0; i < this.$props.allBooks.length; i++) {
                this.allItems.push({author: this.$props.allBooks[i].author, book: this.$props.allBooks[i].name})
            }
            for (let i = 0; i < this.$props.allAuthors.length; i++) {
                this.allItems.push({author: this.$props.allAuthors[i].name, book: this.$props.allAuthors[i].book})
            }
        }
    }
</script>

<style scoped>

</style>